<html>
<head>
    <title>Login form</title>
         <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>

    <style>
        form{
            border: 2px red solid;
            padding: 20px;
            border-radius: 20px;margin-top:30px ;
            background-color: orchid;
        }
        h3{
            text-align: center;
        }
        body{
            background-color: darkblue;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="col-md-5">
        <form method="POST">
            <h3 class="bg-primary text-white">Please Login Here</h3>
            {% csrf_token %}
            {{ lform }}<br>
            <center>
                <input type="submit" value="submit" class="btn btn-success">
                <input type="reset" value="clear" class="btn btn-danger">
            </center>
            <center><a href="/registration/">New user</a> </center>
        </form>
    </div>
</div>
</body>
</html>