<html>
<head>
    <title>Registration Data</title>
     <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <style>
        form{
            border: 2px red solid;
            padding: 20px;
            border-radius: 20px;
            margin: 30px;
            background-color: gray;
        }
        h3 {
            text-align: center;
        }
        body{
         background-color: crimson;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="cd-md-5">
            <form method="POST">
            <h3 class="bg-primary text-white">Please register here</h3>
            {% csrf_token %}
            {{ form }}<br>
            <center>
                <input type="submit" value="submit" class="btn btn-success">
                <input type="reset" value="clear" class=" btn btn-danger">
            </center>
            <center><a href="/#/">Back to login</a> </center>
        </form>
        </div>
    </div>
</div>
</body>
</html>