<html>
<head>
    <title>Registration and Login Form</title>
     <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
    <style>
        #div1{
            text-align:center;
            font-size:50px;
        }
        h1{
            text-align:center;
            font-size:70px ;
            margin:30px 30px 40px 300px;
        }
        body{
            background-color: aliceblue;
        }
    </style>
</head>
<body>
<h1 class="bg-primary text-white">Registration and Login</h1>
<a id="div1">
    <center>
    <a href="/registration/">Registration</a><br>
    <a href="/login/">Login</a>

    </center>
</div>
</a>
</body>
</html>